<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/90644867f2.css" crossorigin="anonymous">
    <title>Admin</title> 
</head>
<body>
    <nav>
        <div class="logo-name">
            <span class="logo_name">Tech Fanatics</span>
        </div>
        <div class="menu-items">
            <div class="logop">
                <div class="logo" style="background-image:url(../images/logo.png)"></div>
                     <ul class="nav-links">
                     <li><a href="/admin">
                             <i class="uil uil-estate"></i>
                             <span class="link-name">Home</span>
                         </a></li>
                         <li><a href="/ausers">
                            <i class="uil uil-files-landscapes"></i>
                            <span class="link-name">Trainees Details</span>
                        </a></li>
                         <li><a href="/amarks">
                             <i class="uil uil-files-landscapes"></i>
                             <span class="link-name">Mark Details</span>
                         </a></li>
                         <li><a href="/aupload">
                             <i class="uil uil-comments"></i>
                             <span class="link-name">Upload Certificate</span>
                         </a></li>
                     </ul>
                     <ul class="logout-mode">
                        <li><a href="/alogin">
                            <i class="uil uil-signout"></i>
                            <span class="link-name">Logout</span>
                        </a></li>
                        <li class="mode">
                           <a href="#">
                              <i class="uil uil-moon"></i>
                              <span class="link-name">Dark Mode</span>
                           </a>
                           <div class="mode-toggle">
                                <span class="switch"></span>
                           </div>
                        </li>
                    </ul>
        </div><!--menu-items-->
    </nav>
    <section class="dashboard">
             <div class="top">
                  <i class="uil uil-bars sidebar-toggle"></i>
                  <div class="title">
                           <span class="text">Admin</span>
                      </div>
                 <!--search-box-->
             </div><!--top-->
             <div class="dash-content">
                  <div class="overview">
                      <div class="title">
                           <i class="uil uil-files-landscapes"></i>
                           <span class="text">Records</span>
                      </div><!--title-->
                      <div class="boxes">
                           <button class="box box3" >
                                   <i class="uil uil-comments"></i>
                                   <span class="text">Finished Courses
                                        <h4>2</h4>
                                   </span>
                           </button>
                        </div><!--boxes-->
                    </div><!--overview-->
                <div class="activity">

                    <form method="post">
                         <div class="title">
                              <i class="uil uil-upload"></i>
                              <span class="text">Upload Certificate</span>
                         </div><!--title-->
                    <div class="activity-data">
    
                    <table>
                    <thread >
                        
                        <tr>                
                                           <th>User Id</th>
                                           <th>User Name</th>
                                           <th>Status</th>
                                           <th>Total Marks</th>
                                           <th>Upload</th>
                                           
                       </tr>
                       
                     </span>
                       </thread>
                       <thread >
                        
                        <tr>                
                                           <th>1</th>
                                           <th>VishnuPriya</th>
                                           <th>3</th>
                                           <th>30</th>
                                           <th><a href="#">Upload</a></th>

                       </tr>
                       <tr>                
                        <th>2</th>
                        <th>Priya</th>
                        <th>5</th>
                        <th>40</th>
                        <th><a href="#">Upload</a></th>

    </tr>
    <tr>                
        <th>3</th>
        <th>KalpanaPriya</th>
        <th>2</th>
        <th>17</th>
        <th><a href="#">Upload</a></th>

</tr>
                     </span>
                       </thread>
              
                       </tbody>
                    </table>
                    </div>
                     

                    </form>
               </div>
      
       
                
        </div>
    </section>
    
    <script src="/admin/admin.js"></script>
</body>
</html>