<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
   
  </head>
  <body>
    <nav class="navbar">
      <div class="max-width">
          <div class="log">
          </div>
          <div class="logo"><a href="#">Tech<span>Fanatics</span></a></div>
          <div class="button">
              <a href="/alogin">Admin</a>
              <a href="/#teams">Courses</a>
          </div>
      </div>
  </nav>

    <div class="center">
      <div class="container">
        <div class="text">Login Form</div>
            <% if (message) { %>
               <p style="color: red; text-align: center;"><%= message %></p>
            <% } %>
        <form method="post" action="/login">
          <div class="data">
            <label>Mail id</label>
            <input type="email" name="email" required>
          </div>
          <div class="data">
            <label>Password</label>
            <input type="password" name="password" required>
          </div>
          <div class="btn">
            <div class="inner"></div>
            <button type="submit">login</button>
          </div>
          <div class="signup-link">
               Not a member? <a href="/signup">Signup now</a>
          </div>
        </form>
      </div>
    </div>
 </body>
</html>